body {
	margin: 0px;
	background-image: radial-gradient(ellipse at center, rgb(255 255 255) -150%, rgb(61 8 123));
}
#container {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.topLevel-grids {
	display: grid;
	gap: 25px 0px;
}

#topLevel-left-grid {
	grid-template-columns: 1fr;
	margin-left: 4rem;
}

#topLevel-right-grid {
	grid-template-columns: 1fr;
	margin-right: 4rem;
}

#clock-img {
	/* position: absolute;
	top: 34px;
	left: 124px; */
	width: 200px;
	height: 75px;
}

#set-alarm-container {
	/*! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! remove margin */
	/* position: absolute;
	top: 0px;
	left: 124px; 
	margin-top: 8rem;*/
	height: 363px;
	width: 565px;
	padding: 15px 25px;
	background-color: white;
	border: 1px solid #ededed;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 0.4fr 1fr 2fr;
	grid-template-rows: repeat(7, 45px);
	align-items: center;
	justify-items: start;
	box-sizing: border-box;
	color: #3d087b;
	box-shadow: 0px 6px 20px rgb(0 0 0 / 0.5);
	grid-gap: 0 0.5rem;
}
/* width */
select::-webkit-scrollbar {
	width: 10px;
}

/* Track */
select::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #8a11bf;
	border-radius: 10px;
}

/* Handle */
select::-webkit-scrollbar-thumb {
	background: white;
	border: 1px solid #f6e2ff;
	border-radius: 10px;
	box-shadow: inset 0 0 3px #f6e2ff;
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
	background: #ebbfff;
}

/* !doesn't increases line height of dropdown items.
 select:-internal-list-box option {
    line-height: unset;
} */

.sac-forms {
	height: 4rem;
	margin-top: 3rem;
}

.sac-timeSelectors {
	/* TODO remember:- this height sets the line height for select tag, but since this.size is used in html this no longer works
     height: 1.75rem; */
	padding-left: 0.5rem;
	width: 15rem;
	border: 1px solid rgb(226 213 251);
	border-radius: 4px;
	color: #3d087b;
	cursor: pointer;
	box-shadow: 0px 3px 8px rgb(0 0 0 / 26%);
}
.sac-mini-img {
	width: 32px;
	padding-left: 2px;
}
.sac-line-div {
	width: 1px;
	height: 90%;
	background-color: rgb(169 169 169);
	margin-left: 1rem;
	box-sizing: content-box;
}

.grid-area5 {
	grid-area: 3 / 1 / 4 / 2;
}
.grid-area6 {
	grid-area: 3 / 2 / 4 / 3;
}
.grid-area7 {
	grid-area: 3 / 3 / 4 / 4;
}
.grid-area8 {
	grid-area: 4 / 1 / 5 / 4;
}
.grid-area9 {
	grid-area: 5 / 1 / 6 / 2;
}
.grid-area10 {
	grid-area: 5 / 2 / 6 / 3;
}
.grid-area11 {
	grid-area: 5 / 3 / 6 / 4;
}
.grid-area12 {
	grid-area: 6 / 1 / 7 / 4;
}
.grid-area13 {
	grid-area: 7 / 1 / 8 / 2;
}
.grid-area14 {
	grid-area: 7 / 2 / 8 / 3;
}
.grid-area15 {
	grid-area: 7 / 3 / 8 / 4;
}

#left-gridBottom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

#alarm-status-text {
	/* position: absolute;
	top: 540px;
	left: 124px; */
	width: 565px;
	height: 75px;
	background-color: rgb(255 255 255);
	border: 1px solid #ededed;
	border-radius: 10px;
	opacity: 0.23;
	font: normal normal 900 27px/34px "Coiny", cursive;
	box-shadow: 0px 6px 20px rgb(0 0 0 / 0.5);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

#set-alarm-btn {
	/* position: absolute;
	top: 650px;
	left: 124px; */
	width: 299px;
	height: 50px;
	margin-bottom: 2rem;
	background: transparent linear-gradient(113deg, #6e54ec 0%, #cb52f8 40%) no-repeat padding-box;
	border-radius: 4px;
	border: 1px solid rgb(0 0 0 / 0%);
	color: white;
	font: normal normal 600 24px/38px Manrope;
	box-shadow: 0px 6px 20px rgb(0 0 0 / 0.5);
	cursor: pointer;
}

#alarm-time-viewer {
	visibility: hidden;
	/* position: absolute;
	top: 630px;
	left: 437px; */
	width: 253px;
	height: 117px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #ededed;
	border-radius: 10px;
	font: normal normal bold 15px/25px Manrope;
	color: #3d087b;
	font-size: 0.9em;
	text-align: left;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0.23;
}

/*  Clock Timer */
#clock-container {
	margin-bottom: -230px;
}

#layer3 {
	position: relative;
	top: -231px;
	left: 75px;
	width: 379px;
	height: 130px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 0.22;
	z-index: 1;
}
#layer2 {
	position: relative;
	top: -116px;
	left: 60px;
	width: 416px;
	height: 130px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 0.71;
	z-index: 2;
}
#layer1 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 536px;
	height: 130px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #ededed;
	border-radius: 10px;
	opacity: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	z-index: 10;
	color: #3d087b;
	text-transform: uppercase;
	font: normal normal 600 20px/32px Manrope;
	z-index: 3;
}

/* Clock Time */
.clock-layers:last-child {
	box-shadow: 0px 6px 20px rgb(0 0 0 / 0.5);
}

.clock-time {
	top: 62px;
	width: 80px;
	height: 90px;
	background: transparent url("../Assets/Images/timeline.svg") 0% 0% no-repeat padding-box;
}

#am-pm-container {
	background: transparent url("../Assets/Images/AM_svg.svg") 0% 0% no-repeat padding-box;
	opacity: 1;
}

.time-text {
	text-transform: lowercase;
	font: normal normal normal 23px/28px Barlow;
	color: #5f0089;
}
.time-digits {
	font: normal normal normal 36px/43px Barlow;
	color: #8a11bf;
}
.clock-time {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
}

#time-status-text {
	/* position: absolute;
	top: 212px;
	left: 736px; */
	width: 536px;
	height: 118px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #ededed;
	border-radius: 10px;
	font: normal normal 900 30px/40px "Coiny", cursive;
	color: #8e53f0;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	box-shadow: 0px 6px 20px rgb(0 0 0 / 0.5);
}

#big-img-container {
	/* position: absolute;
	top: 355px;
	left: 737px; */
	width: 536px;
	height: 341px;
	box-shadow: 0px 6px 20px rgb(0 0 0 / 0.5);
	background: white url("../Assets/Images/welcome_img.png") 0% 0% padding-box;
	background-size: 536px 341px;
	background-repeat: no-repeat;
	border-radius: 10px;
}

/** For really wide screens as it adds more than needed space between left and right grids. */
@media only screen and (min-width: 1550px) {
	#topLevel-left-grid {
		margin-left: calc(100vw / 6);
	}

	#topLevel-right-grid {
		margin-right: calc(100vw / 6);
	}
}

/** For tablet to samll laptop screens */
@media only screen and (min-width: 1126px) and (max-width: 1420px) {
	#topLevel-left-grid {
		margin-left: 0;
	}

	#topLevel-right-grid {
		margin-right: 0;
	}
}

/** For mobile to tablet screens */
@media only screen and (min-width: 591px) and (max-width: 1125px) {
	#topLevel-left-grid {
		margin-left: 0;
	}

	#topLevel-right-grid {
		margin-right: 0;
	}

	#container {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
	}
}

/** Media Qury for Mobile Screen */
@media only screen and (max-width: 590px) {
	#topLevel-left-grid {
		margin-left: 0;
	}

	#topLevel-right-grid {
		margin-right: 0;
	}

	#container {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
	}
	#set-alarm-container {
		width: 90%;
		padding: 2px 2px;
	}
	.sac-forms {
		width: 60%;
	}
	.sac-timeSelectors {
		width: 100%;
	}
}
